body {
  background-color: #e8d7e6;
}

#navbar {
  background-color: #f1e7f0;
  font-weight: 500;
  margin-bottom: 5rem;
}

.banner-color {
  background: linear-gradient(to right, rgb(238, 93, 163) 0%, rgb(230, 55, 140) 25%, rgb(238, 127, 0) 25%, rgb(238, 127, 0) 71%, rgb(211, 113, 2) 100%);
  height: 0.5rem; 
  
  margin-bottom: 0;
}

header {
  font-size: 1.3rem;
}
header .navbar {
  height: 5rem;
}
header .navbar-nav {
  float: right;
}
header ul {
  width: 60%;
}
header li {
  width: 25%;
}
header li a {
  text-orientation: none;
  text-decoration: none;
  padding: 1rem;
  text-align: center;
  color: #353535;
  margin-top: 0.5rem;
}
header li a:hover {
  border-bottom: 0.2rem solid #dec7dc;
}

.carousel-item {
  background: #353535;
  height: 36.5rem;
  position: relative;
  color: #faf7fa;
}
.carousel-item .container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 2rem;
}
.carousel-item .overlay-image {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-position: center;
  background-size: cover;
  opacity: 0.8;
}

.row {
  border: 1rem solid #e8d7e6;
}

#somos {
  background-color: #dec7dc;
  color: #232323;
  margin: 1rem 1rem;
  border-radius: 2rem;
  min-height: 25rem;
}
#somos .banner-imagen {
  display: flex;
  align-content: center;
  justify-content: center;
}
#somos .banner-imagen img {
  border-radius: 2rem;
  max-width: 90%;
  height: auto;
}
#somos .banner-texto {
  padding-top: 1rem;
  border-radius: 1rem;
  background-color: #dec7dc;
}

#mision {
  background-color: #dec7dc;
  color: #232323;
  margin: 1rem 1rem;
  border-radius: 2rem;
  min-height: 25rem;
}
#mision .banner-imagen {
  display: flex;
  align-content: center;
  justify-content: center;
}
#mision .banner-imagen img {
  border-radius: 2rem;
  max-width: 90%;
  height: auto;
}
#mision .banner-texto {
  padding-top: 1rem;
  border-radius: 1rem;
  background-color: #dec7dc;
}

#vision {
  background-color: #dec7dc;
  color: #232323;
  margin: 1rem 1rem;
  border-radius: 2rem;
  min-height: 25rem;
}
#vision .banner-imagen {
  display: flex;
  align-content: center;
  justify-content: center;
}
#vision .banner-imagen img {
  border-radius: 2rem;
  max-width: 90%;
  height: auto;
}
#vision .banner-texto {
  padding-top: 1rem;
  border-radius: 1rem;
  background-color: #dec7dc;
}

.titulo {
  margin-bottom: 0.8rem;
  font-size: 3rem;
  padding-left: 1.5rem;
  font-weight: 600;
 
  /*font-family: 'Nabla', cursive;*/
  font-family: 'Silkscreen', cursive;
 
  text-shadow: 2px 2px rgb(211, 113, 2);
 
}

.subtitulo {
  font-size: 1.2rem;
  padding: 1.5rem;
  text-align: justify;
  font-weight: 500;
  font-family: sans-serif;
}

footer {
  background: linear-gradient(to right, rgb(238, 93, 163) 0%, rgb(230, 55, 140) 25%, rgb(238, 127, 0) 25%, rgb(238, 127, 0) 71%, rgb(211, 113, 2) 100%);
  padding: 1rem 0;
}

@media only screen and (max-width: 1200px) {
  .titulo {
    font-size: calc(1rem + 1vw);
  }
  .subtitulo {
    font-size: calc(0.5rem + 1vw);
    font-family: 'Roboto', sans-serif;
  }

  .iconos {
    width: 200px;
    display: flex;
    justify-content: space-around;
    margin: auto;
    color: #fff;
  }
 .form-control{
  margin: auto;
  margin-bottom: 5rem;
 }

  

  
}/*# sourceMappingURL=styles.css.map */
h4{
  margin-bottom: 0.4rem;
  font-size: 2rem;
  padding-left: 1rem;
  font-weight: 100;
  font-family: 'Silkscreen', cursive;
 text-shadow: 2px 2px rgb(238, 127, 0);
 }
 .bread-crumbs{
  text-align: center;
 }

 .bread-crumbs ul{
  list-style: none;
  display: inline-block;


 }

 .bread-crumbs ul li{

  display: inline;

 }
 .bread-crumbs ul li a{

  display: block;
  float: left;
  height: 40px;
  background-color: rgb(179, 101, 13);
  text-align: center;
  padding: 15px 10px 0 60px;
  position: relative;
  margin: 0 5 px 0 0;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  color:rgb(233, 207, 220);

 }
 .bread-crumbs ul li a:after{
  content: "";
  border-top: 20 px solid transparent;
  border-bottom: 20 px solid transparent;
  border-left: 20 px solid rgb(179, 101, 13);
  position: absolute;
  right: -20px;
  top: 0;
  z-index: 1;
 }

 .bread-crumbs ul li a:before{
  content:"" ;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid rgb(179, 101, 13);
  position: absolute;
  left: 0; 
  top: 0;

 }

 .bread-crumbs ul li:first-child a{

  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
 }
 .bread-crumbs ul li:first-child a::before{

  display: none;
 }

 .bread-crumbs ul li:last-child a{
padding-right: 20px;
border-top-right-radius: 5px;
border-top-left-radius: 5px;
 }
 .bread-crumbs ul li:last-child a:after{
  display: none;

 }
 .bread-crumbs ul li a:hover{

  background: rgb(44, 40, 36);
 }
.bread-crumbs ul li a:hover:after{

  border-left-color: rgb(44, 40, 36);
  color: rgb(238, 127, 0); 
}
