
@mixin bannerContent{
    background: lighten($kindawhite, 4);
    color: darken($textb, 7);
    height: 28rem;
    margin: 2rem 2rem;
    border-radius: 2rem;
    color: darken($textb, 7);

    .banner-imagen {
        width: 50%;
        height: 96%;
        background-size: cover;
    }

    .banner-texto{
        padding-top: 5rem;
        background-color: darken($kindawhite, 10);
    }

}

@mixin imageLeft{
    .banner-imagen {
        margin: 0.5rem 0 0.5rem 3rem;
        border-top-left-radius: 2rem;
        border-bottom-left-radius: 2rem;
    }

    .banner-texto{
        margin: 0.5rem 0 0.5rem 0.5rem;
        border-top-right-radius: 2rem;
        border-bottom-right-radius: 2rem;
    }
}