@import "mixins";
@import "variables";

body { 
    background-color: darken($kindawhite, 5);
}

#navbar {
    background-color: $kindawhite;
    font-weight: $fontW;
    margin-bottom: 5rem;
}


.banner-color {
    background: linear-gradient(to right, rgb(238, 93, 163) 0%, rgba(230, 55, 140, 1) 25%, rgba(238, 127, 0, 1) 25%, rgba(238, 127, 0, 1) 71%, rgb(211, 113, 2) 100%);
    height: 0.5rem;
    margin-bottom: 0;

}


header {
    font-size: $navFont;

    .navbar {
        height: 5rem;
    }

    .navbar-nav {
        float: right;
    }

    ul {
        width: 60%;
    }

    li {
        width: calc(100% / 4);
    }

    li a {
        text-orientation: none;
        text-decoration: none;
        padding: 1rem;
        text-align: center;
        color: $textb;
        margin-top: 0.5rem;

        &:hover {
            border-bottom: 0.2rem solid darken($kindawhite, 10);
        }
    }

}

.carousel-item {
    background: $textb;
    height: 36.5rem;
    position: relative;
    color: lighten($kindawhite, 5);

    .container {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding-bottom: 2rem;
    }

    .overlay-image {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        background-position: center;
        background-size: cover;
        opacity: 0.8;
    }
}

.row{
    border: 1rem solid darken($kindawhite, 10);
}

#somos {
    @include bannerContent;

}

#mision {
    @include bannerContent;
}

#vision {
    @include bannerContent;
}

.titulo{
    margin-bottom: 0.8rem;
    font-size: 3rem;
    padding-left: 1.5rem;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}

.subtitulo{
    font-size: 1.2rem;
    padding: 1.5rem;
    text-align: justify;
    font-weight: $fontW;
    font-family: sans-serif;
}

footer{
    background-color: lighten($kindawhite, 2);
    padding: 2rem 0;
}

@media only screen and (max-width: 1200px) {
    
    .titulo{
        font-size: calc(1rem + 1vw);
        
    }

    .subtitulo{
        font-size: calc(0.5rem + 1vw);
    }
    
}
